/* font-import link */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Poppins:ital@0;1&display=swap');

/*------ys coder-------------
 jatiyo style/ common style
 ----------------------------- */
body {
    background: #ffffff;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;


}

/* --------------ys coder-----
variables
------------------ */
:root {
    --lab-bg: #ff347e;
    --lab-color: #FFFFFF;
    --lab-padding: 0.6em 1.5em;
    --sec-padding: 1rem 8em;
    --sec-gap: 1em;
}

/* NAVIGATION STYLE */
nav {
    display: flex;
    padding: var(--sec-padding);
    justify-content: space-between;
    align-items: center;
}

.nav-list ul {
    display: flex;
}

.nav-list ul li {
    list-style: none;
}

.nav-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.03rem;
    padding: var(--lab-padding);
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.nav-list ul li:hover a {
    background: var(--lab-bg);
    color: var(--lab-color);
}

/* section one styling */
.thum-sec {
    padding: var(--sec-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--sec-gap);

}

.title-text {
    /* display: grid; */

}

.title {
    margin-top: 3rem;
    font-size: 3.7rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.titleP {
    margin-top: -1rem;
    width: 80%;
    font-size: 1.07em;

}

.button {
    padding: var(--lab-padding);
    outline: none;
    border: none;
    color: var(--lab-color);
    border-radius: 30px;
    background: var(--lab-bg);
    margin-top: 1rem;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.thumneil-img {
    background-repeat: no-repeat;
    margin: auto;
    background-image: url(images/Circle\ design.svg);
    background-size: cover;
}

/* top companies logo style */
.top-comalies-logo {
    padding: var(--sec-padding);
    margin-bottom: var(--sec-gap);

}

.logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.logos li {
    list-style: none;
}

/* popular product card styling */
.populer-collections {
    margin: 4rem 0;
}

.populer-collections h2 {
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.populer-collections h2::after {
    content: "";
    position: absolute;
    width: 24vw;
    height: 1px;
    bottom: 0px;
    top: 50px;
    left: 575px;
    background: #000;
}

.cards {
    padding: var(--sec-padding);
    display: grid;
    width: 80vw;
    margin: auto;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.see-more {
    position: relative;
    color: red;
    right: 0;
    font-weight: 600;
    bottom: 0;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.5em 1em;
    box-shadow: 0px 0px 10px gainsboro;
    border-radius: 5px;
    overflow: hidden;
}

.card-img {
    overflow: hidden;
}

.card img {
    overflow: hidden;
    transition: all 0.4s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.pname h3 {
    margin: 0em 0em;
    font-size: 1.7em;
}

#price {
    font-weight: 300;
    font-size: 1.5em;
    margin: 0.3em 0 0.4em;
}

.iconandrate {
    display: flex;
    gap: 1em;
    margin-bottom: 1rem;
}

.icon i {
    color: #ff9634;
}

.card-bottom-text p {
    margin: 0;
    color: #00000061;
    font-size: 0.7em;
    font-weight: 800;
}


/* gear section styling */
.gear {
    padding: var(--sec-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gear-text h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.gear-text p {
    padding-right: 11em;
    line-height: 1.5em;
}

.gear-button {
    padding: var(--lab-padding);
    outline: none;
    border: none;
    color: var(--lab-color);
    border-radius: 30px;
    background: var(--lab-bg);
    margin-top: 1rem;
    width: 10em;
    text-align: center;
    font-weight: 500;
    align-items: center;
}

.gear-button i {
    padding-left: 0.4em;
}

/* button hover */
.button:hover {
    background: #000;
}

/* footer styling */
footer {
    background: #000;
    height: 15em;

}

.footer {
    text-align: center;
    color: aliceblue;
    position: relative;
}

.fotter-head {
    padding: 2em 0 0;
    margin-bottom: -17px;
    margin-top: 0;
}

.footer p {
    margin-top: 2rem;
}

.footer ul {
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;

}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}