@media only screen and (max-width:688px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        display: none;
    }

    body {
        word-wrap: 100vw;
        overflow-x: hidden;
    }

    .thum-sec {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 2em;
    }

    .thumneil-img {
        grid-row: 2/1;
        grid-column: 2/1;
        width: 85vw;

    }

    .thumneil-img img {
        width: 100%;
    }

    .title-text {
        justify-items: center;
        display: grid;
    }

    .titleP {
        text-align: center;
        font-size: 1.07em;
        font-weight: 500;
        margin-bottom: 2em;
    }

    .title {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }

    .button {
        padding: 1em 3.5em;
        border-radius: 150px;
        font-size: 1em;
        margin: auto;
        display: flex;

    }

    .top-comalies-logo {
        width: 100vw;
        padding: 0;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        justify-content: center;
        align-items: center;
        padding-left: 0;

    }

    /* mobile populer cullection styling */
    .populer-collections {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .populer-collections h2::after {
        left: 2.5em;
        width: 66vw;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
        margin: 0;
        padding: 0em;
    }

    .iconandrate {
        margin: 1em 0;
    }

    .card-bottom-text {
        margin: 1em 0;
    }

    /* <!-- gear subscrib section styling --> */
    .gear {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
        padding: 0;
        row-gap: 1em;
    }

    .gear-text {
        grid-row: 2/1;
        grid-column: 2/1;
        padding: 1em;
        width: 100vw;
    }

    .gear-text h2 {
        font-size: 2em;
        text-align: center;
    }

    .gear-text p {
        padding: 0 1em;
        padding-right: 0;
    }

    .gear-button {
        padding: 1em 3em;
        width: 11em;
        align-items: center;
    }

    .gear-img {

        justify-items: center;
        display: grid;
    }

    .gear-img img {

        width: 80%;
        margin: 1em;

    }

}