@media only screen and (max-width:688px) {

    nav,
    footer,
    .populer-collections,
    .gear {
        display: none;
    }

    .thum-sec {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 2em;
    }

    .thumneil-img {
        grid-row: 2/1;
        grid-column: 2/1;

    }

    .title-text {
        justify-content: center;
    }

    .title {
        font-size: 2rem
    }

    .button {
        padding: 1em 3.5em;
        border-radius: 150px;
        font-size: 1em;
        margin: auto;
        display: flex;

    }

    .top-comalies-logo {
        width: 100%;
        padding: 0;
    }

    .logos {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        align-items: start;
        justify-items: center;
    }
}